/.idea/deployment.xml
/.idea/misc.xml
/.idea/encodings.xml
/.idea/.gitignore
/.idea/inspectionProfiles/
/.idea/modules.xml
/.idea/vcs.xml
/.idea/SomeIdeas.iml
/JustValues/nodes.txt
/.idea/
/log_file.txt
/JustGraphStructure/Models/log_file.txt
/JustValues/log_file.txt
/JustGraphStructure/Result_After_Proposal/
/JustValues/Result_After_Proposal/
/ValuesAndGraphStructure/Result_After_Proposal/
/cancer_data/
/cancer_dataset/
/split_datasets/
/YoramAttention/Result_After_Proposal/
