/.idea/deployment.xml
/.idea/misc.xml
/.idea/encodings.xml
/.idea/.gitignore
/.idea/inspectionProfiles/
/.idea/modules.xml
/.idea/vcs.xml
/.idea/SomeIdeas.iml
/JustValues/nodes.txt
/.idea/
/log_file.txt
/JustGraphStructure/Models/log_file.txt
/JustValues/log_file.txt
/JustGraphStructure/Result_After_Proposal/
/JustValues/Result_After_Proposal/
/ValuesAndGraphStructure/Result_After_Proposal/
/cancer_data/
/cancer_data/
/split_datasets/
/YoramAttention/Result_After_Proposal/
/covid/
/covid/new_ISB/
/covid/new_NIH/
concat_graph_and_values_all_datasets_results_train_val_test_09_04_2022.csv
corr_mat_tcr_new.csv
double_gcn_layer_all_datasets_results_train_val_test_09_04_2022.csv
graph_and_values_all_datasets_results_train_val_test_09_04_2022.csv
just_graph_all_datasets_results_train_val_test_09_04_2022.csv
